.days-remind {
    color:#aaa; padding:8px 0px 10px 12px;
}

table.show_datas_table {
    width:100%; border:1px #777 solid; border-width:0px 1px 1px 0px;
}

table.show_datas_table tr th {
    padding:8px; border:1px #777 solid; border-width:1px 0px 0px 1px; color:#ddd; text-align:center;
}
table.show_datas_table tr td {
    padding:8px; border:1px #777 solid; border-width:1px 0px 0px 1px; color:#ccc; text-align:center;
}